#modal_overlay{
	width: 100%;
	height: 100%;
	z-index: 98;
	background-color: #000;
	position: absolute;
	top: 0px;
	left: 0px;
	display: none;
}

#modal_display{
	position: absolute;
	left: 100px;
	top: 0px;
	height: 800px;
	width: 600px;
	background-color: #fff;
	border: 10px solid #ccc;
	z-index: 99;
	display: none;
}

#syrio_bar{
	float: left;
	width: 100%;
	height: 20px;
	background-color: orange;
	border-bottom: pink solid 3px;
}

#modal_content{
	float: left;
	width: 100%;
}

.syrio_next, .syrio_prev{
	width:33%;
	position:absolute;
	top:0px;
	cursor:pointer;
	z-index:105;
	background:transparent url(../images/transparent.png);
}

.syrio_next{
	right:0px;
	text-align:right;
}

.syrio_next.last, .syrio_prev.first{
	display:none;
}

.syrio_next span, .syrio_prev span{
	display:none;
}

.syrio_next.hover{
	background:transparent url(../images/nextlabel.gif) right center no-repeat;
}

.syrio_prev.hover{
	background:transparent url(../images/prevlabel.gif) left center no-repeat;
}